openapi: 3.2.0
info:
  title: Xfers Payment Queries API
  version: '3'
  contact:
    name: Contact us through our help desk
    url: https://bit.ly/XfersSupport
  description: 'Operations tagged Payment Queries across 2 of this provider''s published API definitions: xfers-indonesia-payment-gateway-unique-amount-openapi.json, xfers-indonesia-payment-gateway-va-cvs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Indonesia Production
  url: https://id.xfers.com/api
- description: Indonesia Sandbox for testing
  url: https://sandbox-id.xfers.com/api
tags:
- name: Payment Queries
paths:
  /v3/payment_gateway/payments/{id}:
    get:
      tags:
      - Payment Queries
      summary: Retrieve Payment
      description: Get the status of your payment transaction by key in the payment ID from Xfers.
      security:
      - X-XFERS-APP-API-KEY: []
      parameters:
      - name: id
        in: path
        description: Transaction id in Xfers
        required: true
        schema:
          type: string
          example: contract_7abf6bb130d44c02862982ff6022875d
      responses:
        '200':
          $ref: '#/base_class/payment/responses/payments:2XX'
      operationId: getV3PaymentGatewayPaymentsById
      x-operation-id-source: derived
    servers:
    - description: Indonesia Production
      url: https://id.xfers.com/api
    - description: Indonesia Sandbox for testing
      url: https://sandbox-id.xfers.com/api
components:
  securitySchemes:
    X-XFERS-APP-API-KEY:
      type: apiKey
      name: X-XFERS-APP-API-KEY
      in: header
      description: You can retrieve this from your merchant's dashboard
    X-XFERS-USER-API-KEY:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: header
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    user-api-token:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: query
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    v4XfersAuth:
      name: v4XfersAuth
      type: http
      scheme: bearer
      in: header
      bearerFormat: xfers_api_token
      description: "You can retrieve this from the dashboard. For instance: \n\n```\n\nAuthorization: Bearer <xfers_api_token>\n\n```\n\n"
externalDocs:
  description: Find out more about Xfers
  url: https://id.xfers.com
x-refined-from:
- xfers-indonesia-payment-gateway-unique-amount-openapi.json
- xfers-indonesia-payment-gateway-va-cvs-openapi.json
x-tagGroups:
- name: User Management
  tags:
  - Registration
  - User Account
  - Bank Account
  - E-signature
- name: Payments
  tags:
  - Charge
  - Payout
  - Withdraw
  - Intents
- name: Loans
  tags:
  - Loans
  - Disbursements
  - Repayments
- name: Appendix
  tags:
  - Testing
  - Error Response
  - Pagination
  - Callback Configuration
  - Try it out with Postman
