openapi: 3.2.0
info:
  title: Xfers Modify Payments API
  version: '3'
  contact:
    name: Contact us through our help desk
    url: https://bit.ly/XfersSupport
  description: 'Operations tagged Modify Payments across 2 of this provider''s published API definitions: xfers-indonesia-payment-gateway-unique-amount-openapi.json, xfers-indonesia-payment-gateway-va-cvs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Indonesia Production
  url: https://id.xfers.com/api
- description: Indonesia Sandbox for testing
  url: https://sandbox-id.xfers.com/api
tags:
- name: Modify Payments
paths:
  /v3/payment_gateway/payments/{id}:
    put:
      tags:
      - Modify Payments
      summary: Action list
      description: 'List of actions to modify a given payment ID:

        1. **cancel** : Cancel a payment when it is still in pending state. Status will be changed to ''cancelled''. (Unique Amount only)

        2. **receive_payment** : Simulate Xfers receiving payment from the customer for a given contract id. Status will be changed to ''paid''. (Unique Amount and Sandbox only)

        3. **settle** : Simulate Xfers disbursing payment to the destination account. Status will be changed to ''completed''. (Sandbox only)'
      security:
      - X-XFERS-APP-API-KEY: []
      parameters:
      - name: id
        in: path
        description: Transaction id in Xfers
        required: true
        schema:
          type: string
          example: contract_7abf6bb130d44c02862982ff6022875d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                event:
                  description: Event name
                  type: string
                  example: cancel
                  enum:
                  - cancel
                  - receive_payment
                  - settle
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/base_class/payment/schemas/BaseObject'
                - properties:
                    payment_method:
                      $ref: '#/base_class/payment_method/schemas/UniqueAmountBankTransfer'
              examples:
                cancel:
                  $ref: '#/base_class/payment/examples/payment_response/cancelled'
                receive_payment:
                  $ref: '#/base_class/payment/examples/payment_response/paid'
                settle:
                  $ref: '#/base_class/payment/examples/payment_response/completed'
      operationId: putV3PaymentGatewayPaymentsById
      x-operation-id-source: derived
    servers:
    - description: Indonesia Production
      url: https://id.xfers.com/api
    - description: Indonesia Sandbox for testing
      url: https://sandbox-id.xfers.com/api
components:
  securitySchemes:
    X-XFERS-APP-API-KEY:
      type: apiKey
      name: X-XFERS-APP-API-KEY
      in: header
      description: You can retrieve this from your merchant's dashboard
    X-XFERS-USER-API-KEY:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: header
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    user-api-token:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: query
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    v4XfersAuth:
      name: v4XfersAuth
      type: http
      scheme: bearer
      in: header
      bearerFormat: xfers_api_token
      description: "You can retrieve this from the dashboard. For instance: \n\n```\n\nAuthorization: Bearer <xfers_api_token>\n\n```\n\n"
externalDocs:
  description: Find out more about Xfers
  url: https://id.xfers.com
x-refined-from:
- xfers-indonesia-payment-gateway-unique-amount-openapi.json
- xfers-indonesia-payment-gateway-va-cvs-openapi.json
x-tagGroups:
- name: User Management
  tags:
  - Registration
  - User Account
  - Bank Account
  - E-signature
- name: Payments
  tags:
  - Charge
  - Payout
  - Withdraw
  - Intents
- name: Loans
  tags:
  - Loans
  - Disbursements
  - Repayments
- name: Appendix
  tags:
  - Testing
  - Error Response
  - Pagination
  - Callback Configuration
  - Try it out with Postman
