openapi: 3.0.0
info:
  description: Welcome to Xfers' API documentation. You can find information on our API endpoint specific to your country.
  version: '3'
  title: Xfers Bank Account Payment Queries (Hide first) API
  contact:
    name: Contact us through our help desk
    url: https://bit.ly/XfersSupport
servers:
- description: Indonesia Production
  url: https://id.xfers.com/api
- description: Indonesia Sandbox for testing
  url: https://sandbox-id.xfers.com/api
tags:
- name: Payment Queries (Hide first)
paths:
  /v3/payment_gateway/payments:
    get:
      tags:
      - Payment Queries (Hide first)
      summary: List Payment Method Payment History
      description: '@irfan'
      security:
      - X-XFERS-APP-API-KEY: []
      comment: consider to rename reference_id
      parameters:
      - name: payment_method_type
        in: query
        description: Payment collector type
        required: true
        schema:
          type: string
          example: fixed_virtual_account
      - name: payment_method_id
        in: query
        required: true
        description: Payment collector id
        schema:
          type: string
          example: va_7abf6bb130d44c02862982ff6022875d
      responses:
        '200':
          description: Success
          content:
            application/json:
              example: []
components:
  securitySchemes:
    X-XFERS-USER-API-KEY:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: header
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
externalDocs:
  description: Find out more about Xfers
  url: https://id.xfers.com
x-tagGroups:
- name: User Management
  tags:
  - Registration
  - User Account
  - Bank Account
  - E-signature
- name: Payments
  tags:
  - Charge
  - Payout
  - Withdraw
  - Intents
- name: Loans
  tags:
  - Loans
  - Disbursements
  - Repayments
- name: Appendix
  tags:
  - Testing
  - Error Response
  - Pagination
  - Callback Configuration
  - Try it out with Postman
