openapi: 3.2.0
info:
  description: Welcome to Xfers' API documentation. You can find information on our API endpoint specific to your country.
  version: '3'
  title: Xfers Payment Queries (Hide first) API
  contact:
    name: Contact us through our help desk
    url: https://bit.ly/XfersSupport
servers:
- description: Indonesia Production
  url: https://id.xfers.com/api
- description: Indonesia Sandbox for testing
  url: https://sandbox-id.xfers.com/api
tags:
- name: Payment Queries (Hide first)
paths:
  /v3/payment_gateway/payments:
    get:
      tags:
      - Payment Queries (Hide first)
      summary: List Payment Method Payment History
      description: '@irfan'
      security:
      - X-XFERS-APP-API-KEY: []
      comment: consider to rename reference_id
      parameters:
      - name: payment_method_type
        in: query
        description: Payment collector type
        required: true
        schema:
          type: string
          example: fixed_virtual_account
      - name: payment_method_id
        in: query
        required: true
        description: Payment collector id
        schema:
          type: string
          example: va_7abf6bb130d44c02862982ff6022875d
      responses:
        '200':
          description: Success
          content:
            application/json:
              example: []
      operationId: getV3PaymentGatewayPayments
      x-operation-id-source: derived
components:
  securitySchemes:
    X-XFERS-APP-API-KEY:
      type: apiKey
      name: X-XFERS-APP-API-KEY
      in: header
      description: You can retrieve this from your merchant's dashboard
    X-XFERS-USER-API-KEY:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: header
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    user-api-token:
      type: apiKey
      name: X-XFERS-USER-API-KEY
      in: query
      description: You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)
    v4XfersAuth:
      name: v4XfersAuth
      type: http
      scheme: bearer
      in: header
      bearerFormat: xfers_api_token
      description: "You can retrieve this from the dashboard. For instance: \n\n```\n\nAuthorization: Bearer <xfers_api_token>\n\n```\n\n"
externalDocs:
  description: Find out more about Xfers
  url: https://id.xfers.com
x-tagGroups:
- name: Explanation
  tags:
  - What is Payment Object?
  - What is Payment Method Object?
- name: Payment Methods
  tags:
  - Unique Amount Bank Transfers
- name: Payment Operations
  tags:
  - Payment Queries
  - Modify Payments
