{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Indonesia Production",
      "url": "https://id.xfers.com/api"
    },
    {
      "description": "Indonesia Sandbox for testing",
      "url": "https://sandbox-id.xfers.com/api"
    }
  ],
  "info": {
    "description": "Welcome to Xfers' API documentation. You can find information on our API endpoint specific to your country.",
    "version": "3",
    "title": "Xfers API",
    "contact": {
      "name": "Contact us through our help desk",
      "url": "https://bit.ly/XfersSupport"
    }
  },
  "externalDocs": {
    "description": "Find out more about Xfers",
    "url": "https://id.xfers.com"
  },
  "x-tagGroups": [
    {
      "name": "Explanation",
      "tags": [
        "What is Payment Object?",
        "What is Payment Method Object?"
      ]
    },
    {
      "name": "Payment Methods",
      "tags": [
        "Unique Amount Bank Transfers"
      ]
    },
    {
      "name": "Payment Operations",
      "tags": [
        "Payment Queries",
        "Modify Payments"
      ]
    }
  ],
  "tags": [
    {
      "name": "What is Payment Object?",
      "description": "Payment Object is an object that represents a payment transaction within Xfers system."
    },
    {
      "name": "What is Payment Method Object?",
      "description": "Payment Method Object is an object that represents the method and the instruction to complete a payment transaction."
    }
  ],
  "paths": {
    "/v3/payment_gateway/payments/{id}": {
      "get": {
        "tags": [
          "Payment Queries"
        ],
        "summary": "Retrieve Payment",
        "description": "Get the status of your payment transaction by key in the payment ID from Xfers.",
        "security": [
          {
            "X-XFERS-APP-API-KEY": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction id in Xfers",
            "required": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/base_class/payment/responses/payments:2XX"
          }
        }
      },
      "put": {
        "tags": [
          "Modify Payments"
        ],
        "summary": "Action list",
        "description": "List of actions to modify a given payment ID:\r\n1.  **cancel** : Cancel a payment when it is still in pending state. Status will be changed to 'cancelled'. (Unique Amount only)\r\n2.  **receive_payment** : Simulate Xfers receiving payment from the customer for a given contract id. Status will be changed to 'paid'. (Unique Amount and Sandbox only)\r\n3.  **settle** : Simulate Xfers disbursing payment to the destination account. Status will be changed to 'completed'. (Sandbox only)",
        "security": [
          {
            "X-XFERS-APP-API-KEY": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction id in Xfers",
            "required": true,
            "schema": {
              "type": "string",
              "example": "contract_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "event": {
                    "description": "Event name",
                    "type": "string",
                    "example": "cancel",
                    "enum": [
                      "cancel",
                      "receive_payment",
                      "settle"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/base_class/payment/schemas/BaseObject"
                    },
                    {
                      "properties": {
                        "payment_method": {
                          "$ref": "#/base_class/payment_method/schemas/UniqueAmountBankTransfer"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "cancel": {
                    "$ref": "#/base_class/payment/examples/payment_response/cancelled"
                  },
                  "receive_payment": {
                    "$ref": "#/base_class/payment/examples/payment_response/paid"
                  },
                  "settle": {
                    "$ref": "#/base_class/payment/examples/payment_response/completed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/payment_gateway/payments": {
      "get": {
        "tags": [
          "Payment Queries (Hide first)"
        ],
        "summary": "List Payment Method Payment History",
        "description": "@irfan",
        "security": [
          {
            "X-XFERS-APP-API-KEY": []
          }
        ],
        "comment": "consider to rename reference_id",
        "parameters": [
          {
            "name": "payment_method_type",
            "in": "query",
            "description": "Payment collector type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fixed_virtual_account"
            }
          },
          {
            "name": "payment_method_id",
            "in": "query",
            "required": true,
            "description": "Payment collector id",
            "schema": {
              "type": "string",
              "example": "va_7abf6bb130d44c02862982ff6022875d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": []
              }
            }
          }
        }
      }
    },
    "/v3/payment_gateway/payment_methods/unique_amount_bank_transfers": {
      "post": {
        "tags": [
          "Unique Amount Bank Transfers"
        ],
        "summary": "Unique Amount Bank Transfer",
        "description": "With Unique Amount Bank Transfer payment method, you need pass us the amount that you want your customer to pay and we will give you the unique amount. \n\n After your customer successfuly transfer with the unique amount, our system will associate it to your account and we will notify you with the successful callback.",
        "security": [
          {
            "X-XFERS-APP-API-KEY": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/base_class/payment_method/schemas/RequestBody"
                  },
                  {
                    "properties": {
                      "payment": {
                        "$ref": "#/base_class/payment/schemas/RequestBody"
                      }
                    }
                  }
                ],
                "required": [
                  "destination_account_id",
                  "bank_type",
                  "payment"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/base_class/payment_method/schemas/UniqueAmountBankTransfer"
                    },
                    {
                      "properties": {
                        "payment": {
                          "$ref": "#/base_class/payment/schemas/UniqueAmountBankTransfer"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "4XX": {
              "$ref": "#/components/responses/v3Error:4XX"
            }
          }
        },
        "callbacks": {
          "payment_paid": {
            "$callback_settings.v3_payment_gateway_payment_paid": {
              "post": {
                "summary": "Callback when payment paid",
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/base_class/payment/schemas/Callback"
                      },
                      "examples": {
                        "paid": {
                          "$ref": "#/base_class/payment/examples/callback/paid"
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          },
          "payment_completed": {
            "$callback_settings.v3_payment_gateway_payment_completed": {
              "post": {
                "summary": "Callback when payment completed",
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/base_class/payment/schemas/Callback"
                      },
                      "examples": {
                        "paid": {
                          "$ref": "#/base_class/payment/examples/callback/completed"
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          },
          "payment_expired": {
            "$callback_settings.v3_payment_gateway_payment_expired": {
              "post": {
                "summary": "Callback when payment expired",
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/base_class/payment/schemas/Callback"
                      },
                      "examples": {
                        "expired": {
                          "$ref": "#/base_class/payment/examples/callback/expired"
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "base_class": {
    "payment": {
      "schemas": {
        "RequestBody": {
          "description": "This is the payment request with the amount and reference id.",
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount value.",
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "example": 10000
            },
            "currency": {
              "description": "Amount currency.",
              "type": "string",
              "enum": [
                "IDR"
              ],
              "example": "IDR"
            },
            "reference_id": {
              "description": "Your order's reference id.",
              "type": "string",
              "example": "ORDER_0001"
            },
            "description": {
              "description": "Order description.",
              "type": "string",
              "example": "This is the first order"
            }
          },
          "required": [
            "amount",
            "currency",
            "reference_id"
          ]
        },
        "BaseObject": {
          "description": "This is the [payment object](./experiment#tag/What-is-Payment-Object) that Xfers already received.",
          "allOf": [
            {
              "properties": {
                "id": {
                  "description": "Payment id from Xfers.",
                  "type": "string",
                  "example": "contract_7abf6bb130d44c02862982ff6022875d"
                },
                "status": {
                  "description": "Payment status:\n1.  **processing** : We have received the transaction and waiting for payment through the specified payment method to be carried out.\n2.  **paid** : We have received the money via payment method channel.\n3.  **completed** : We have disbursed the money to the destination account",
                  "type": "string",
                  "example": "processing",
                  "enum": [
                    "processing",
                    "paid",
                    "completed"
                  ]
                },
                "reference_id": {
                  "description": "Your order's reference id",
                  "type": "string",
                  "example": "ORDER_001"
                }
              }
            },
            {
              "$ref": "#/base_class/payment/schemas/RequestBody"
            },
            {
              "properties": {
                "amount": {
                  "description": "Amount value.",
                  "type": "string",
                  "minimum": 0,
                  "exclusiveMinimum": true,
                  "example": "10000.0"
                }
              }
            }
          ]
        },
        "UniqueAmountBankTransfer": {
          "allOf": [
            {
              "$ref": "#/base_class/payment/schemas/BaseObject"
            },
            {
              "properties": {
                "expiration_time": {
                  "description": "Expiration time (ISO8601 format). maximum: 3 days after the request creation",
                  "type": "string",
                  "default": "1 day after the request creation",
                  "example": "2020-04-30T19:02:57+08:00"
                }
              }
            }
          ]
        },
        "Callback": {
          "description": "This is the callback object that Xfers will return.",
          "properties": {
            "event": {
              "description": "Event triggering the callback",
              "type": "string",
              "example": "v3_payment_gateway_payment_paid",
              "enum": [
                "v3_payment_gateway_payment_paid",
                "v3_payment_gateway_payment_completed",
                "v3_payment_gateway_payment_expired"
              ]
            },
            "data": {
              "description": "Payment Object reference from Xfers.",
              "allOf": [
                {
                  "$ref": "#/base_class/payment/schemas/BaseObject"
                },
                {
                  "properties": {
                    "payment_method": {
                      "$ref": "#/base_class/payment_method/schemas/UniqueAmountBankTransfer"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "responses": {
        "payments:2XX": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/base_class/payment/schemas/BaseObject"
                  },
                  {
                    "properties": {
                      "payment_method": {
                        "$ref": "#/base_class/payment_method/schemas/UniqueAmountBankTransfer"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "processing": {
                  "$ref": "#/base_class/payment/examples/payment_response/processing"
                },
                "paid": {
                  "$ref": "#/base_class/payment/examples/payment_response/paid"
                },
                "completed": {
                  "$ref": "#/base_class/payment/examples/payment_response/completed"
                },
                "cancelled": {
                  "$ref": "#/base_class/payment/examples/payment_response/expired"
                },
                "expired": {
                  "$ref": "#/base_class/payment/examples/payment_response/expired"
                }
              }
            }
          }
        }
      },
      "examples": {
        "payment_response": {
          "processing": {
            "value": {
              "id": "contract_73bf83beb9d145ada2c2694a06693b75",
              "status": "processing",
              "reference_id": "2020-06-11_13:00",
              "amount": "10391.0",
              "currency": "idr",
              "expiration_time": "2020-06-12T13:00:54+07:00",
              "description": "This is test order",
              "payment_method": {
                "type": "unique_amount_bank_transfer",
                "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                "bank_type": "BRI",
                "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                "account_no": "000501003330303",
                "unique_amount": 10391
              }
            }
          },
          "paid": {
            "value": {
              "id": "contract_73bf83beb9d145ada2c2694a06693b75",
              "status": "paid",
              "reference_id": "2020-06-11_13:00",
              "amount": "10391.0",
              "currency": "idr",
              "expiration_time": "2020-06-12T13:00:54+07:00",
              "description": "This is test order",
              "payment_method": {
                "type": "unique_amount_bank_transfer",
                "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                "bank_type": "BRI",
                "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                "account_no": "000501003330303",
                "unique_amount": 10391
              }
            }
          },
          "completed": {
            "value": {
              "id": "contract_73bf83beb9d145ada2c2694a06693b75",
              "status": "completed",
              "reference_id": "2020-06-11_13:00",
              "amount": "10391.0",
              "currency": "idr",
              "expiration_time": "2020-06-12T13:00:54+07:00",
              "description": "This is test order",
              "payment_method": {
                "type": "unique_amount_bank_transfer",
                "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                "bank_type": "BRI",
                "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                "account_no": "000501003330303",
                "unique_amount": 10391
              }
            }
          },
          "expired": {
            "value": {
              "id": "contract_73bf83beb9d145ada2c2694a06693b75",
              "status": "expired",
              "reference_id": "2020-06-11_13:00",
              "amount": "10391.0",
              "currency": "idr",
              "expiration_time": "2020-06-12T13:00:54+07:00",
              "description": "This is test order",
              "payment_method": {
                "type": "unique_amount_bank_transfer",
                "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                "bank_type": "BRI",
                "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                "account_no": "000501003330303",
                "unique_amount": 10391
              }
            }
          },
          "cancelled": {
            "value": {
              "id": "contract_73bf83beb9d145ada2c2694a06693b75",
              "status": "cancelled",
              "reference_id": "2020-06-11_13:00",
              "amount": "10391.0",
              "currency": "idr",
              "expiration_time": "2020-06-12T13:00:54+07:00",
              "description": "This is test order",
              "payment_method": {
                "type": "unique_amount_bank_transfer",
                "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                "bank_type": "BRI",
                "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                "account_no": "000501003330303",
                "unique_amount": 10391
              }
            }
          }
        },
        "callback": {
          "paid": {
            "value": {
              "event": "v3_payment_gateway_payment_paid",
              "data": {
                "id": "contract_7abf6bb130d44c02862982ff6022875d",
                "status": "paid",
                "reference_id": "ORDER_001",
                "amount": "10000.0",
                "currency": "idr",
                "expiration_time": "2020-06-12T13:00:54+07:00",
                "description": "This is test order",
                "payment_method": {
                  "type": "unique_amount_bank_transfer",
                  "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                  "bank_type": "BRI",
                  "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                  "account_no": "000501003330303",
                  "unique_amount": 10391
                }
              }
            }
          },
          "completed": {
            "value": {
              "event": "v3_payment_gateway_payment_completed",
              "data": {
                "id": "contract_7abf6bb130d44c02862982ff6022875d",
                "status": "completed",
                "reference_id": "ORDER_001",
                "amount": "10000.0",
                "currency": "idr",
                "expiration_time": "2020-06-12T13:00:54+07:00",
                "description": "This is test order",
                "payment_method": {
                  "type": "unique_amount_bank_transfer",
                  "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                  "bank_type": "BRI",
                  "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                  "account_no": "000501003330303",
                  "unique_amount": 10391
                }
              }
            }
          },
          "expired": {
            "value": {
              "event": "v3_payment_gateway_payment_expired",
              "data": {
                "id": "contract_7abf6bb130d44c02862982ff6022875d",
                "status": "expired",
                "reference_id": "ORDER_001",
                "amount": "10000.0",
                "currency": "idr",
                "expiration_time": "2020-06-12T13:00:54+07:00",
                "description": "This is test order",
                "payment_method": {
                  "type": "unique_amount_bank_transfer",
                  "destination_account_id": "account_7c2b4df6270c4ba487f3786fec398a20",
                  "bank_type": "BRI",
                  "account_holder_name": "INKLUSI KEUANGAN NUSANTARA",
                  "account_no": "000501003330303",
                  "unique_amount": 10391
                }
              }
            }
          }
        }
      }
    },
    "payment_method": {
      "schemas": {
        "RequestBody": {
          "description": "This is the [payment method object](./experiment#tag/What-is-Payment-Method-Object).",
          "properties": {
            "destination_account_id": {
              "description": "This is the account ID that will be associated with the payment. You can get your account ID information via our [Get User Info API : /v3/user](../V3/Indonesia#operation/getUserInfo)",
              "type": "string",
              "example": "account_3091fa1f6bfddff48148fd32813a3a5b"
            },
            "bank_type": {
              "description": "Please specify the bank that you want your customer to transfer to. Listed under enum is our supported banks.",
              "type": "string",
              "enum": [
                "BNI",
                "BRI",
                "MANDIRI"
              ],
              "example": "BNI"
            }
          },
          "required": [
            "destination_account_id",
            "bank_type"
          ]
        },
        "UniqueAmountBankTransfer": {
          "allOf": [
            {
              "properties": {
                "type": {
                  "description": "Payment method type",
                  "type": "string",
                  "example": "unique_amount_bank_transfer"
                }
              }
            },
            {
              "$ref": "#/base_class/payment_method/schemas/RequestBody"
            },
            {
              "properties": {
                "account_holder_name": {
                  "description": "The account holder name for the bank account that your customer will transfer to.",
                  "type": "string",
                  "example": "PT Inklusi Keuangan Nusantara"
                },
                "account_no": {
                  "description": "The account number for the bank account that your customer will transfer to.",
                  "type": "string",
                  "example": "174926751990"
                },
                "unique_amount": {
                  "description": "The unique amount for your customer to transfer in order to complete the payment.",
                  "type": "integer",
                  "example": 10391
                }
              }
            }
          ]
        }
      }
    }
  },
  "components": {
    "definitions": {
      "Accounts": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "Entity's unique identifier in Xfers"
            },
            "type": {
              "type": "string",
              "description": "Entity's type"
            },
            "attributes": {
              "type": "object",
              "description": "Entity's attributes",
              "properties": {
                "balance": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "wallet_name": {
                  "type": "string"
                },
                "wallet_id": {
                  "type": "integer"
                },
                "limitations": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "DirectBankTransferContract": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity's unique identifier in Xfers"
          },
          "type": {
            "type": "string",
            "description": "Entity's type"
          },
          "attributes": {
            "type": "object",
            "description": "Entity's attributes",
            "properties": {
              "amount": {
                "type": "float"
              },
              "status": {
                "type": "string"
              },
              "external_id": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "description": "Time ISO8601"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "X-XFERS-APP-API-KEY": {
        "name": "X-XFERS-APP-API-KEY",
        "in": "header",
        "description": "Retrive this API key from the dashboard",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "X-XFERS-USER-API-KEY": {
        "name": "X-XFERS-USER-API-KEY",
        "in": "header",
        "description": "Retrive this API key from the dashboard",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "user-api-token": {
        "name": "X-XFERS-USER-API-KEY",
        "in": "header",
        "description": "This is your user's api token. You can retrieve this from the Get Token API.",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "create_loan": {
        "value": {
          "customer_data": {
            "din": "string content",
            "custtype": 1,
            "fullname": "name01",
            "custname": "name01",
            "title": "sh",
            "custaddress": "string content",
            "custrt": "string content",
            "custrw": "string content",
            "custkel": "string content",
            "custkec": "string content",
            "custcity": "string content",
            "custprov": "string content",
            "custzip": "string content",
            "custdati": "0102",
            "idtype": 1,
            "idnumber": "idnumber",
            "idexpired": "2019-01-01",
            "gender": 1,
            "maritalstatus": 2,
            "birthdate": "1980-01-04",
            "birthplace": "bekasi",
            "birthdati": "0102",
            "worksince": "2014-01-01",
            "employeests": 1,
            "contractend": "2014-01-01",
            "lasteducation": "0100",
            "economycode": "011110",
            "debiturcode": "907",
            "mmn": "ibu kandung",
            "npwp": "no npwp",
            "homestatus": 1,
            "livedsince": "2000-01-01",
            "phonearea": "area",
            "phoneno": "12323535",
            "mobileno": "0878978979",
            "dependent": 0,
            "grossincome": 5000000,
            "expenses": 1000000,
            "sameidhomeaddr": 1,
            "custaddresshome": "string content",
            "custrthome": "string content",
            "custrwhome": "string content",
            "custkelhome": "string content",
            "custkechome": "string content",
            "custcityhome": "string content",
            "custprovhome": "string content",
            "custziphome": "string content",
            "custdatihome": "0102",
            "spousename": "string content",
            "spousebirthdate": "1980-01-01",
            "spousebirthplace": "string content",
            "spouseidtype": 1,
            "spouseidnumber": "string content",
            "spousephoneno": "string content",
            "spousemobileno": "string content",
            "spouseoffice": "string content",
            "spouseoffinephone": "string content",
            "relativestype": 1,
            "relativesname": "string content",
            "custaddressrel": "string content",
            "custrtrel": "string content",
            "custrwrel": "string content",
            "custkelrel": "string content",
            "custkecrel": "string content",
            "custcityrel": "string content",
            "custprovrel": "string content",
            "custziprel": "string content",
            "phonenorel": "string content",
            "companyname": "string content",
            "companyaddr": "string content",
            "companycity": "string content",
            "companyzip": "string content",
            "companyphone": "string content",
            "deedno": "string content",
            "deeddate": "2019-01-01",
            "corporatetype": "string content",
            "jobid": "002",
            "jobtitleid": "50",
            "countryid": "id",
            "branchcode": "000"
          },
          "loan_data": {
            "refno": "ref11",
            "objectvalue": "10000000.0",
            "principaltotal": "1000000.0",
            "tenor": "1",
            "loantype": 0,
            "effectiverate": "12.0",
            "installment": "1000000.0",
            "firstinstdate": "2018-11-01",
            "admfee": "0.0",
            "inscode": "001",
            "inspremi": "0.0",
            "insonloan": "0.0",
            "installmenttype": 1,
            "branchcode": "000",
            "typeofuseid": "89",
            "orientationofuseid": "9",
            "debiturcatid": "10",
            "portfoliocatid": "string content",
            "credittypeid": "20",
            "creditattributeid": "20",
            "creditcategoryid": "10",
            "fincat": "000",
            "installfeeaccount": "50000.0"
          },
          "collateral_data": {
            "productcode": "C304",
            "merkcode": "mrk",
            "modelcode": "mdl",
            "collateralno": "collno939854",
            "collateraldate": "2018-01-01",
            "collateraladdress": "string content",
            "collateralcityid": "0102",
            "collateralname": "collname",
            "collateralownerid": "collid935790",
            "collateraldesctype": "string content",
            "engineno": "string content",
            "chassisno": "string content",
            "collateralyear": 2018,
            "buildyear": 2018,
            "condition": 1,
            "color": "string content",
            "collateralkind": "KTA01",
            "collateralpurpose": "string content",
            "policeno": "string",
            "stnkexpired": "2030-01-01",
            "surveydate": "2018-01-01",
            "bindtypecode": "99",
            "collateraltypecode": "250",
            "sbrankcode": "string content",
            "collateralvalue": 100000000,
            "dealercode": "TK"
          },
          "installment_data": {
            "period": "1.0",
            "duedate": "2018-12-12",
            "principal": "1000000.0",
            "interest": "10000000.0",
            "installfee": "50000.0"
          }
        }
      },
      "XFE1": {
        "summary": "XFE1 - Server busy",
        "value": {
          "error": "string",
          "error_code": "XFE1",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE2": {
        "summary": "XFE2 - Access denied",
        "value": {
          "error": "string",
          "error_code": "XFE2",
          "error_handling": "Make sure you call the correct API or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE3": {
        "summary": "XFE3 - Internal Error",
        "value": {
          "error": "string",
          "error_code": "XFE3",
          "error_handling": "Unexpected error. Try again later or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE4": {
        "summary": "XFE4 - Authentication field empty",
        "value": {
          "error": "string",
          "error_code": "XFE4",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE5": {
        "summary": "XFE5 - Api key is invalid",
        "value": {
          "error": "string",
          "error_code": "XFE5",
          "error_handling": "Make sure you entered the correct API key or contact customer support at https://bit.ly/XfersSupport"
        }
      },
      "XFE6": {
        "summary": "XFE6 - Invalid signature",
        "value": {
          "error": "string",
          "error_code": "XFE6",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE7": {
        "summary": "XFE7 - Database error",
        "value": {
          "error": "string",
          "error_code": "XFE7",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE8": {
        "summary": "XFE8 - Cannot retrieve media",
        "value": {
          "error": "string",
          "error_code": "XFE8",
          "error_handling": "Cannot retrieve media. Please enter a new URL or try again later."
        }
      },
      "XFE9": {
        "summary": "XFE9 - ....",
        "value": {
          "error": "string",
          "error_code": "XFE9",
          "error_handling": "..."
        }
      },
      "XFE10": {
        "summary": "XFE10 - Invalid environment",
        "value": {
          "error": "string",
          "error_code": "XFE10",
          "error_handling": "Request not supported for this environment."
        }
      },
      "XFE11": {
        "summary": "XFE11 - Timeout",
        "value": {
          "error": "string",
          "error_code": "XFE11",
          "error_handling": "Please try again later."
        }
      },
      "XFE12": {
        "summary": "XFE12 - Invalid parameter",
        "value": {
          "error": "string",
          "error_code": "XFE12",
          "error_handling": "Make sure you entered the correct parameters."
        }
      },
      "XFE13": {
        "summary": "XFE13 - Record not found",
        "value": {
          "error": "string",
          "error_code": "XFE13",
          "error_handling": "Please check that you provided the correct API Key and the correct parameters."
        }
      },
      "XFE14": {
        "summary": "XFE14 - API only allowed for fully verified user",
        "value": {
          "error": "string",
          "error_code": "XFE14",
          "error_handling": "Please submit KYC data to get your account fully verified."
        }
      },
      "XFE15": {
        "summary": "XFE15 - Required parameter empty",
        "value": {
          "error": "string",
          "error_code": "XFE15",
          "error_handling": "Make sure you entered the correct required parameter."
        }
      },
      "XFE16": {
        "summary": "XFE16 - Invalid request",
        "value": {
          "error": "string",
          "error_code": "XFE16",
          "error_handling": "API request not supported. Make sure you entered the correct API key or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE101": {
        "summary": "XFE101 - Not local number",
        "value": {
          "error": "string",
          "error_code": "XFE101",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE102": {
        "summary": "XFE102 - Entered value is less than minimum",
        "value": {
          "error": "string",
          "error_code": "XFE102",
          "error_handling": "Make sure you entered the correct number."
        }
      },
      "XFE103": {
        "summary": "XFE103 - ...",
        "value": {
          "error": "string",
          "error_code": "XFE103",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE104": {
        "summary": "XFE104 - Media provided too large",
        "value": {
          "error": "string",
          "error_code": "XFE104",
          "error_handling": "Media too big. Follow the guidelines in the response."
        }
      },
      "XFE105": {
        "summary": "XFE105 - Captcha error",
        "value": {
          "error": "string",
          "error_code": "XFE1",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE106": {
        "summary": "XFE106 - No auth_code provided",
        "value": {
          "error": "string",
          "error_code": "XFE106",
          "error_handling": "Enter either phone OTP or Google Auth OTP"
        }
      },
      "XFE107": {
        "summary": "XFE107 - Only enter one auth_code",
        "value": {
          "error": "string",
          "error_code": "XFE107",
          "error_handling": "Do not enter both OTP or Google Auth OTP. Only need to enter one."
        }
      },
      "XFE108": {
        "summary": "XFE108 - More user information required",
        "value": {
          "error": "string",
          "error_code": "XFE108",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE109": {
        "summary": "XFE109 - Invalid credentials",
        "value": {
          "error": "string",
          "error_code": "XFE109",
          "error_handling": "Make sure you entered the correct credentials."
        }
      },
      "XFE110": {
        "summary": "XFE110 - Cannot sign up twice",
        "value": {
          "error": "string",
          "error_code": "XFE110",
          "error_handling": "Please sign in instead"
        }
      },
      "XFE111": {
        "summary": "XFE1 - Duplicate credentials",
        "value": {
          "error": "string",
          "error_code": "XFE111",
          "error_handling": "Particulars already exist. Please make sure you entered the correct parameters."
        }
      },
      "XFE112": {
        "summary": "XFE112 - Repeat request",
        "value": {
          "error": "string",
          "error_code": "XFE112",
          "error_handling": "API request has already been made. Please follow the instructions in the response or call aother API."
        }
      },
      "XFE201": {
        "summary": "XFE201 - Not yet a merchant",
        "value": {
          "error": "string",
          "error_code": "XFE201",
          "error_handling": "Please verify your merchant or business account."
        }
      },
      "XFE301": {
        "summary": "XFE301 - Account locked",
        "value": {
          "error": "string",
          "error_code": "XFE301",
          "error_handling": "Request not available. Please contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE302": {
        "summary": "XFE302 - Account deleted",
        "value": {
          "error": "string",
          "error_code": "XFE302",
          "error_handling": "Request not available. Please contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE303": {
        "summary": "XFE303 - Account terminated",
        "value": {
          "error": "string",
          "error_code": "XFE303",
          "error_handling": "Request not available. Please contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE304": {
        "summary": "XFE304- Account closed",
        "value": {
          "error": "string",
          "error_code": "XFE304",
          "error_handling": "Request not available. Please contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE305": {
        "summary": "XFE305 - ....",
        "value": {
          "error": "string",
          "error_code": "XFE305",
          "error_handling": "..."
        }
      },
      "XFE306": {
        "summary": "XFE306 - ...",
        "value": {
          "error": "string",
          "error_code": "XFE306",
          "error_handling": "..."
        }
      },
      "XFE307": {
        "summary": "XFE307 - ...",
        "value": {
          "error": "string",
          "error_code": "XFE307",
          "error_handling": "..."
        }
      },
      "XFE308": {
        "summary": "XFE308 - ...",
        "value": {
          "error": "string",
          "error_code": "XFE308",
          "error_handling": "..."
        }
      },
      "XFE309": {
        "summary": "XFE309 - Cannot use same account",
        "value": {
          "error": "string",
          "error_code": "XFE309",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE310": {
        "summary": "XFE310 - Cannot use same account",
        "value": {
          "error": "string",
          "error_code": "XFE310",
          "error_handling": "Follow instructions in the response."
        }
      },
      "XFE311": {
        "summary": "XFE311 - Cannot be different wallet type",
        "value": {
          "error": "string",
          "error_code": "XFE311",
          "error_handling": "Follow instruction in response or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE312": {
        "summary": "XFE312 - Conditions not met to close account",
        "value": {
          "error": "string",
          "error_code": "XFE312",
          "error_handling": "Invalid request to close account. Follow instruction in the response."
        }
      },
      "XFE401": {
        "summary": "XFE401 - Cannot refund charge",
        "value": {
          "error": "string",
          "error_code": "XFE401",
          "error_handling": "Invalid request. Please call another API or Contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE402": {
        "summary": "XFE402 - Cannot use placeholder account",
        "value": {
          "error": "string",
          "error_code": "XFE402",
          "error_handling": "Follow instructions in response."
        }
      },
      "XFE403": {
        "summary": "XFE403 - ...",
        "value": {
          "error": "string",
          "error_code": "XFE403",
          "error_handling": "..."
        }
      },
      "XFE404": {
        "summary": "XFE404 - Forex not supported",
        "value": {
          "error": "string",
          "error_code": "XFE404",
          "error_handling": "Make sure you call the correct API or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE405": {
        "summary": "XFE405 - Charge cannot be refunded",
        "value": {
          "error": "string",
          "error_code": "XFE405",
          "error_handling": "Only completed contract can be refunded."
        }
      },
      "XFE406": {
        "summary": "XFE406 - Cannot refund prepaid transaction",
        "value": {
          "error": "string",
          "error_code": "XFE406",
          "error_handling": "Please choose another transaction to refund."
        }
      },
      "XFE407": {
        "summary": "XFE407 - Conditions to charge card not met",
        "value": {
          "error": "string",
          "error_code": "XFE407",
          "error_handling": "Invalid request for this transaction. Make sure you entered the correct txn_id."
        }
      },
      "XFE408": {
        "summary": "XFE408 - Invalid charge request",
        "value": {
          "error": "string",
          "error_code": "XFE408",
          "error_handling": "Invalid request. Please follow instructions in response or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE409": {
        "summary": "XFE409 - Order id exist",
        "value": {
          "error": "string",
          "error_code": "XFE409",
          "error_handling": "Please enter another order_id."
        }
      },
      "XFE410": {
        "summary": "XFE410 - Invalid application fee",
        "value": {
          "error": "string",
          "error_code": "XFE410",
          "error_handling": "Invalid request. Please make changes to the parameters as stated in the response."
        }
      },
      "XFE501": {
        "summary": "XFE501 - Expected Bank API error",
        "value": {
          "error": "string",
          "error_code": "XFE501",
          "error_handling": "Try again later or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE502": {
        "summary": "XFE502 - Unexpected BANK API error",
        "value": {
          "error": "string",
          "error_code": "XFE502",
          "error_handling": "Try again later or contact customer support at https://bit.ly/XfersSupport."
        }
      },
      "XFE503": {
        "summary": "XFE503 - Failed name check",
        "value": {
          "error": "string",
          "error_code": "XFE503",
          "error_handling": "Bank account name and name provided have to be similar."
        }
      },
      "XFE504": {
        "summary": "XFE504 - Maximum number of bank account",
        "value": {
          "error": "string",
          "error_code": "XFE504",
          "error_handling": "Delete existing bank accounts."
        }
      },
      "XFE505": {
        "summary": "XFE505 - Bank abbrev provided invalid",
        "value": {
          "error": "string",
          "error_code": "XFE505",
          "error_handling": "Use GET {{base-api-url}}api/v3/banks to get the correct bank abbrev."
        }
      },
      "XFE506": {
        "summary": "XFE506 - Bank account already taken",
        "value": {
          "error": "string",
          "error_code": "XFE506",
          "error_handling": "Please use another bank account."
        }
      },
      "XFE601": {
        "summary": "XFE601 - Conditions to withdraw not met. Can be solved by changing amount",
        "value": {
          "error": "string",
          "error_code": "XFE601",
          "error_handling": "Your withdrawal does not meet the conditions required. Please follow the instructions in the response."
        }
      },
      "XFE602": {
        "summary": "XFE602 - Server busy",
        "value": {
          "error": "string",
          "error_code": "XFE602",
          "error_handling": "Your withdrawal exceeds the limit for the time period. Please change the amount or verify your account."
        }
      },
      "XFE603": {
        "summary": "XFE603 - Not allowed to carry out request",
        "value": {
          "error": "string",
          "error_code": "XFE603",
          "error_handling": "Invalid request. Please call another API or contact customer support at https://bit.ly/XfersSupport."
        }
      }
    },
    "responses": {
      "v3Error:4XX": {
        "description": "List of possible errors",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_response"
            },
            "examples": {
              "XFE1": {
                "$ref": "#/components/examples/XFE1"
              },
              "XFE2": {
                "$ref": "#/components/examples/XFE2"
              },
              "XFE3": {
                "$ref": "#/components/examples/XFE3"
              },
              "XFE4": {
                "$ref": "#/components/examples/XFE4"
              },
              "XFE5": {
                "$ref": "#/components/examples/XFE5"
              },
              "XFE6": {
                "$ref": "#/components/examples/XFE6"
              },
              "XFE7": {
                "$ref": "#/components/examples/XFE7"
              },
              "XFE8": {
                "$ref": "#/components/examples/XFE8"
              },
              "XFE9": {
                "$ref": "#/components/examples/XFE9"
              },
              "XFE10": {
                "$ref": "#/components/examples/XFE10"
              },
              "XFE11": {
                "$ref": "#/components/examples/XFE11"
              },
              "XFE12": {
                "$ref": "#/components/examples/XFE12"
              },
              "XFE13": {
                "$ref": "#/components/examples/XFE13"
              },
              "XFE14": {
                "$ref": "#/components/examples/XFE14"
              },
              "XFE15": {
                "$ref": "#/components/examples/XFE15"
              },
              "XFE16": {
                "$ref": "#/components/examples/XFE16"
              },
              "XFE101": {
                "$ref": "#/components/examples/XFE101"
              },
              "XFE102": {
                "$ref": "#/components/examples/XFE102"
              },
              "XFE103": {
                "$ref": "#/components/examples/XFE103"
              },
              "XFE104": {
                "$ref": "#/components/examples/XFE104"
              },
              "XFE105": {
                "$ref": "#/components/examples/XFE105"
              },
              "XFE106": {
                "$ref": "#/components/examples/XFE106"
              },
              "XFE107": {
                "$ref": "#/components/examples/XFE107"
              },
              "XFE108": {
                "$ref": "#/components/examples/XFE108"
              },
              "XFE109": {
                "$ref": "#/components/examples/XFE109"
              },
              "XFE110": {
                "$ref": "#/components/examples/XFE110"
              },
              "XFE111": {
                "$ref": "#/components/examples/XFE111"
              },
              "XFE112": {
                "$ref": "#/components/examples/XFE112"
              },
              "XFE201": {
                "$ref": "#/components/examples/XFE201"
              },
              "XFE301": {
                "$ref": "#/components/examples/XFE301"
              },
              "XFE302": {
                "$ref": "#/components/examples/XFE302"
              },
              "XFE303": {
                "$ref": "#/components/examples/XFE303"
              },
              "XFE304": {
                "$ref": "#/components/examples/XFE304"
              },
              "XFE305": {
                "$ref": "#/components/examples/XFE305"
              },
              "XFE306": {
                "$ref": "#/components/examples/XFE306"
              },
              "XFE307": {
                "$ref": "#/components/examples/XFE307"
              },
              "XFE308": {
                "$ref": "#/components/examples/XFE308"
              },
              "XFE309": {
                "$ref": "#/components/examples/XFE309"
              },
              "XFE310": {
                "$ref": "#/components/examples/XFE310"
              },
              "XFE311": {
                "$ref": "#/components/examples/XFE311"
              },
              "XFE312": {
                "$ref": "#/components/examples/XFE312"
              },
              "XFE401": {
                "$ref": "#/components/examples/XFE401"
              },
              "XFE402": {
                "$ref": "#/components/examples/XFE402"
              },
              "XFE403": {
                "$ref": "#/components/examples/XFE403"
              },
              "XFE404": {
                "$ref": "#/components/examples/XFE404"
              },
              "XFE405": {
                "$ref": "#/components/examples/XFE405"
              },
              "XFE406": {
                "$ref": "#/components/examples/XFE406"
              },
              "XFE407": {
                "$ref": "#/components/examples/XFE407"
              },
              "XFE408": {
                "$ref": "#/components/examples/XFE408"
              },
              "XFE409": {
                "$ref": "#/components/examples/XFE409"
              },
              "XFE410": {
                "$ref": "#/components/examples/XFE410"
              },
              "XFE501": {
                "$ref": "#/components/examples/XFE501"
              },
              "XFE502": {
                "$ref": "#/components/examples/XFE502"
              },
              "XFE503": {
                "$ref": "#/components/examples/XFE503"
              },
              "XFE504": {
                "$ref": "#/components/examples/XFE504"
              },
              "XFE505": {
                "$ref": "#/components/examples/XFE505"
              },
              "XFE506": {
                "$ref": "#/components/examples/XFE506"
              },
              "XFE601": {
                "$ref": "#/components/examples/XFE601"
              },
              "XFE602": {
                "$ref": "#/components/examples/XFE602"
              },
              "XFE603": {
                "$ref": "#/components/examples/XFE603"
              }
            }
          }
        }
      },
      "v4Error:4XX": {
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/jsonApi:errorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "customer_data": {
        "type": "object",
        "properties": {
          "din": {
            "type": "string"
          },
          "custtype": {
            "type": "integer"
          },
          "fullname": {
            "type": "string"
          },
          "custname": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "custaddress": {
            "type": "string"
          },
          "custrt": {
            "type": "string"
          },
          "custrw": {
            "type": "string"
          },
          "custkel": {
            "type": "string"
          },
          "custkec": {
            "type": "string"
          },
          "custcity": {
            "type": "string"
          },
          "custprov": {
            "type": "string"
          },
          "custzip": {
            "type": "string"
          },
          "custdati": {
            "type": "integer"
          },
          "idtype": {
            "type": "integer"
          },
          "idnumber": {
            "type": "string"
          },
          "idexpired": {
            "type": "string"
          },
          "gender": {
            "type": "integer"
          },
          "maritalstatus": {
            "type": "integer"
          },
          "birthdate": {
            "type": "string"
          },
          "birthplace": {
            "type": "string"
          },
          "birthdati": {
            "type": "string"
          },
          "worksince": {
            "type": "string"
          },
          "employeests": {
            "type": "string"
          },
          "contractend": {
            "type": "string"
          },
          "lasteducation": {
            "type": "integer"
          },
          "economycode": {
            "type": "integer"
          },
          "debiturcode": {
            "type": "integer"
          },
          "mmn": {
            "type": "string"
          },
          "npwp": {
            "type": "string"
          },
          "homestatus": {
            "type": "integer"
          },
          "livedsince": {
            "type": "string"
          },
          "phonearea": {
            "type": "string"
          },
          "phoneno": {
            "type": "integer"
          },
          "mobileno": {
            "type": "integer"
          },
          "dependent": {
            "type": "integer"
          },
          "grossincome": {
            "type": "integer"
          },
          "expenses": {
            "type": "integer"
          },
          "sameidhomeaddr": {
            "type": "integer"
          },
          "custaddresshome": {
            "type": "string"
          },
          "custrthome": {
            "type": "string"
          },
          "custrwhome": {
            "type": "string"
          },
          "custkelhome": {
            "type": "string"
          },
          "custkechome": {
            "type": "string"
          },
          "custcityhome": {
            "type": "string"
          },
          "custprovhome": {
            "type": "string"
          },
          "custziphome": {
            "type": "string"
          },
          "custdatihome": {
            "type": "integer"
          },
          "spousename": {
            "type": "string"
          },
          "spousebirthdate": {
            "type": "string"
          },
          "spousebirthplace": {
            "type": "string"
          },
          "spouseidtype": {
            "type": "string"
          },
          "spouseidnumber": {
            "type": "string"
          },
          "spousephoneno": {
            "type": "string"
          },
          "spousemobileno": {
            "type": "string"
          },
          "spouseoffice": {
            "type": "string"
          },
          "spouseoffinephone": {
            "type": "string"
          },
          "relativestype": {
            "type": "string"
          },
          "relativesname": {
            "type": "string"
          },
          "custaddressrel": {
            "type": "string"
          },
          "custrtrel": {
            "type": "string"
          },
          "custrwrel": {
            "type": "string"
          },
          "custkelrel": {
            "type": "string"
          },
          "custkecrel": {
            "type": "string"
          },
          "custcityrel": {
            "type": "string"
          },
          "custprovrel": {
            "type": "string"
          },
          "custziprel": {
            "type": "string"
          },
          "phonenorel": {
            "type": "string"
          },
          "companyname": {
            "type": "string"
          },
          "companyaddr": {
            "type": "string"
          },
          "companycity": {
            "type": "string"
          },
          "companyzip": {
            "type": "string"
          },
          "companyphone": {
            "type": "string"
          },
          "deedno": {
            "type": "string"
          },
          "deeddate": {
            "type": "string"
          },
          "corporatetype": {
            "type": "string"
          },
          "jobid": {
            "type": "integer"
          },
          "jobtitleid": {
            "type": "integer"
          },
          "countryid": {
            "type": "string"
          },
          "branchcode": {
            "type": "string"
          }
        }
      },
      "loan_data": {
        "type": "object",
        "properties": {
          "refno": {
            "type": "string"
          },
          "objectvalue": {
            "type": "string"
          },
          "principaltotal": {
            "type": "string"
          },
          "tenor": {
            "type": "integer"
          },
          "loantype": {
            "type": "integer"
          },
          "effectiverate": {
            "type": "string"
          },
          "installment": {
            "type": "string"
          },
          "firstinstdate": {
            "type": "string"
          },
          "admfee": {
            "type": "string"
          },
          "inscode": {
            "type": "string"
          },
          "inspremi": {
            "type": "string"
          },
          "insonloan": {
            "type": "string"
          },
          "installmenttype": {
            "type": "integer"
          },
          "branchcode": {
            "type": "integer"
          },
          "typeofuseid": {
            "type": "integer"
          },
          "orientationofuseid": {
            "type": "integer"
          },
          "debiturcatid": {
            "type": "integer"
          },
          "portfoliocatid": {
            "type": "string"
          },
          "credittypeid": {
            "type": "integer"
          },
          "creditattributeid": {
            "type": "integer"
          },
          "creditcategoryid": {
            "type": "integer"
          },
          "fincat": {
            "type": "integer"
          },
          "installfeeaccount": {
            "type": "string"
          }
        }
      },
      "collateral_data": {
        "type": "object",
        "properties": {
          "productcode": {
            "type": "string"
          },
          "merkcode": {
            "type": "string"
          },
          "modelcode": {
            "type": "string"
          },
          "collateralno": {
            "type": "string"
          },
          "collateraldate": {
            "type": "string"
          },
          "collateraladdress": {
            "type": "string"
          },
          "collateralcityid": {
            "type": "integer"
          },
          "collateralname": {
            "type": "string"
          },
          "collateralownerid": {
            "type": "string"
          },
          "collateraldesctype": {
            "type": "string"
          },
          "engineno": {
            "type": "string"
          },
          "chassisno": {
            "type": "string"
          },
          "collateralyear": {
            "type": "integer"
          },
          "buildyear": {
            "type": "integer"
          },
          "condition": {
            "type": "integer"
          },
          "color": {
            "type": "string"
          },
          "collateralkind": {
            "type": "string"
          },
          "collateralpurpose": {
            "type": "string"
          },
          "policeno": {
            "type": "string"
          },
          "stnkexpired": {
            "type": "string"
          },
          "surveydate": {
            "type": "string"
          },
          "bindtypecode": {
            "type": "string"
          },
          "collateraltypecode": {
            "type": "integer"
          },
          "sbrankcode": {
            "type": "string"
          },
          "collateralvalue": {
            "type": "integer"
          },
          "dealercode": {
            "type": "integer"
          }
        }
      },
      "installment_data": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string"
          },
          "duedate": {
            "type": "string"
          },
          "principal": {
            "type": "string"
          },
          "interest": {
            "type": "string"
          },
          "installfee": {
            "type": "string"
          }
        }
      },
      "error_response": {
        "type": "object",
        "properties": {
          "error": {
            "description": "Error Message",
            "type": "string"
          },
          "error_code": {
            "description": "Xfers' error code XFEXXX",
            "type": "string"
          },
          "error_handling": {
            "description": "Instruction on how to handle error. Refer to Error Codes tag for more information.",
            "type": "string"
          }
        }
      },
      "jsonApi:singleDataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/jsonApi:data"
          }
        }
      },
      "jsonApi:data": {
        "_comment": "https://jsonapi.org/format/#document-resource-objects",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity's unique identifier in Xfers"
          },
          "type": {
            "type": "string",
            "description": "Entity's type"
          },
          "attributes": {
            "type": "object",
            "description": "Entity's attributes"
          }
        }
      },
      "jsonApi:errorResponse": {
        "_comment": "https://jsonapi.org/format/#errors",
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Xfers' error code XFEXXX"
                },
                "title": {
                  "type": "string",
                  "description": "Error description summary"
                },
                "detail": {
                  "type": "string",
                  "description": "Error details"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "X-XFERS-APP-API-KEY": {
        "type": "apiKey",
        "name": "X-XFERS-APP-API-KEY",
        "in": "header",
        "description": "You can retrieve this from your merchant's dashboard"
      },
      "X-XFERS-USER-API-KEY": {
        "type": "apiKey",
        "name": "X-XFERS-USER-API-KEY",
        "in": "header",
        "description": "You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)"
      },
      "user-api-token": {
        "type": "apiKey",
        "name": "X-XFERS-USER-API-KEY",
        "in": "query",
        "description": "You can retrieve this by using [get_token API](../sg/api/cutting-edge#operation/getToken)"
      },
      "v4XfersAuth": {
        "name": "v4XfersAuth",
        "type": "http",
        "scheme": "bearer",
        "in": "header",
        "bearerFormat": "xfers_api_token",
        "description": "You can retrieve this from the dashboard. For instance: \n\n```\n\nAuthorization: Bearer <xfers_api_token>\n\n```\n\n"
      }
    }
  }
}